Package: com.bolencki13.appendix
Name: Appendix
Depends: mobilesubstrate
Version: 1.1.2
Architecture: iphoneos-arm
Description: 3D touch folder to launch apps
Maintainer: Brian Olencki
Author: Brian Olencki
Section: Tweaks
Depiction: http://repo.bolencki13.com/depiction.php?bundleIdentifier=com.bolencki13.appendix